body {
    background-color: bisque;
}

#grid-container {
    border: 5px solid black;
    height: 80vh;
    width: 130vh;
    margin: auto;
    padding: 0;
    background-color: white;

    display: grid;

}

.grid-tile:hover {
    background-color: red;
}

#buttons {
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 0;
}

#buttons button {
    margin: 0 1em 0 1em;
    padding: 0;
    /* width: 18em;
    height: 7em; */
    font-size: 3.5em;
    padding: .3em;
    border-radius: .2em;
    
}

#gridSize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

#gridSize button {
    height: 2em;
}

#gridSize * {
    margin: 0 1em 0 1em;
    font-size: 1.5em;
}
