#grid-container {
    border: 5px solid black;
    height: 90vh;
    width: 130vh;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid-tile:hover {
    background-color: red;
}
